

.course-content{
    padding:24px;
}
.course-image{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:230px;
    width:230px;


}
.course-image-container{

    padding:8px;
    background:#fff;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}